body {
    padding-top: 50px;
    background-color: #ffffff;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .navbar-inverse {
    background-color: #96cd7a;
    border-color: #579b7b;
    color: #ffffff;
}
.btn-primary {
  color: #fff;
  background-color: #07943d;
  border-color: #07943d;
}
.btn-danger {
  color: #fff;
  background-color: #3c5843;
  border-color: #3c5843;
}
