{% include './menu.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
content %}
<div class="container">
  {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
  for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div style="margin-top: 10px">
    <h2>Modificar contraseña</h2>
  </div>

  <form class="row g-3" action="/cambiar_contrasena" method="POST">
    <div class="col-auto">
      <label style="margin-top: 20px" for="inputPassword2" class="visually-hidden">Contraseña actual</label>
      <input required style="width: 250px" type="password" class="form-control" id="password" name="password"
        placeholder="Escriba su nueva contraseña" />
    </div>
    <div class="col-auto">
      <label style="margin-top: 20px" for="inputPassword2" class="visually-hidden">Nueva contraseña</label>
      <input required style="width: 250px" type="password" class="form-control" id="password" name="password_new"
        placeholder="Escriba su nueva contraseña" />
    </div>
    <div class="col-auto">
      <label style="margin-top: 20px" for="inputPassword2" class="visually-hidden">Vuelva a escribir su
        contraseña</label>
      <input required style="width: 250px" type="password" class="form-control" id="password" name="re-password"
        placeholder="Escriba su nueva contraseña" />
    </div>
    <div class="col-auto">
      <button style="margin-top: 10px" type="submit" class="btn btn-primary mb-3">Aceptar</button>
      {% if tipo != 1 %}
      <button type="button" class="btn btn-primary" style="margin-top: 10px"
        onclick="window.location.href='/edit_perfil'">
        Volver
      </button>
      {% else %}
      <button type="button" class="btn btn-primary" style="margin-top: 10px" onclick="window.location.href='/'">
        Volver
      </button>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
