{% include './menu.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    {% with msg = get_flashed_messages(with_categories=true) %}
    {% if msg %}
    {% for category,m in msg %}
    <div class="alert alert-{{ category }}" role="alert"> {{ m }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div style="margin-top: 10px;">
        <h2>Edición</h2>
    </div>

        <div class="form-signin">
            <div class="col-md-8 text-center">
                <button type="button" class="btn btn-primary btn-lg" style="margin-top: 10px;"
                    onclick="window.location.href='/vacunas'">Volver</button>
                <button id="login" style="margin-top: 10px;" type="submit"
                    class="btn btn-primary btn-lg">Guardar</button>
        </div>
    </div>
    </form>
    </div>
</div>
{% endblock %}


