{% include './menu.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
content %}
<div class="container">
  {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
  for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div style="margin-top: 10px">
    <h2>Edición</h2>
  </div>

  <div class="form-signin">
    <form
      action="/guardar_perfil/{{usuario.id}}"
      class="form-signin"
      method="post"
    >
      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
           <label style="margin-top: 20px" class="visually-hidden" >Email </label>
          <input
            style="margin-top: 10px"
            id="mail"
            name="mail"
            type="text"
            placeholder="Mail"
            class="form-control"
            value="{{ usuario.email }}"
          />
        </div>
      </div>
      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
          <label style="margin-top: 20px" class="visually-hidden" >Nombre </label>
          <input
            style="margin-top: 10px"
            id="nombre"
            name="nombre"
            type="text"
            placeholder="Nombre"
            class="form-control"
            value="{{ usuario.nombre }}"
            disabled
          />
        </div>
      </div>
      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
          <label style="margin-top: 20px" class="visually-hidden" >Apellido </label>
          <input
            style="margin-top: 10px"
            id="apellido"
            name="apellido"
            type="text"
            placeholder="Apellido"
            class="form-control"
            value="{{ usuario.apellido }}"
            disabled
          />
        </div>
      </div>
      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
          <label style="margin-top: 20px" class="visually-hidden" >Telefono </label>
          <input
            style="margin-top: 10px"
            id="telefono"
            name="telefono"
            type="text"
            placeholder="Teléfono"
            class="form-control"
            value="{{ usuario.telefono }}"
          />
        </div>
      </div>
      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
          <label style="margin-top: 20px" class="visually-hidden" >DNI </label>
          <input
            style="margin-top: 10px"
            id="dni"
            name="dni"
            type="text"
            placeholder="Dni"
            class="form-control"
            value="{{ usuario.dni }}"
            disabled
          />
        </div>
      </div>

      <div class="form-signin">
        <span class="col-md-1 col-md-offset-2 text-center"
          ><i class="fa fa-user bigicon"></i
        ></span>
        <div class="col-md-8">
          <label style="margin-top: 20px" class="visually-hidden" >Sede preferida </label>
          <br/>
          <select
            class="form-select"
            aria-label="Default select example"
            style="margin-top: 10px"
            id="sede"
            name="sede_preferida"
            type="text"
            placeholder="Sede preferida"
            class="form-control"
          >
            {% for s in sedes %} {% if s == usuario.sede_preferida %}
            <option selected value="{{s}}">{{ s }}</option>
            {% else %}
            <option value="{{ s }}">{{ s }}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-signin">
        <div class="col-md-8 text-center">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            style="margin-top: 10px"
            onclick="window.location.href='/ver_perfil'"
          >
            Volver
          </button>
          <button
            id="login"
            style="margin-top: 10px"
            type="submit"
            class="btn btn-primary btn-lg"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>

    <button
      type="button"
      class="btn btn-primary btn-lg"
      style="margin-top: 10px"
      onclick="window.location.href='/modificar_contrasena'"
    >
      Modificar Contraseña
    </button>
  </div>
</div>
{% endblock %}
