{% include './menu.html' %} {% block content %}

<div class="container">
    {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
    for category,m in msg %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ m }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <h3>Historial del paciente</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha de solicitud</th>
                <th scope="col">Fecha del turno</th>
                <th scope="col">Vacuna</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for v in vacunas %}
            <tr>
                <td>{{ v.fecha_solicitud }}</td>
                <td>{{ v.fecha_turno }}</td>
                <td>{{ v.vacuna }}</td>
                <td>{{ v.estado }}</td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</div>