{% include './menu.html' %} {% block content %}

<div class="container">
    {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
    for category,m in msg %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ m }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    {% if cantidad != 0 %}
    <h3>Historial del paciente</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha de solicitud</th>
                <th scope="col">Fecha del turno</th>
                <th scope="col">Vacuna</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for v in vacunas %}
            <tr>
                <td>{{ v.fecha_solicitud }}</td>
                <td>{{ v.fecha_turno }}</td>
                <td>{{ v.vacuna }}</td>
                {% if v.estado == 0 %}
                <td>PENDIENTE</td>
                {% endif %}
                {% if v.estado == 1 %}
                <td>CANCELADO</td>
                {% endif %}
                {% if v.estado == 2 %}
                <td>ATENDIDO</td>
                {% endif %}
                {% if v.estado == 3 %}
                <td>RECHAZADO</td>
                {% endif %}
                {% if v.estado == 4 %}
                <td>ESPERANDO CONFIRMACION</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}

    <h3>El paciente no cuenta con vacunas en el vacunatorio </h3>
    {% endif %}
    <a href="/pacientes" class="btn btn-primary">Volver</a>

    
</div>
{% endblock %}
<footer>
    <div style="margin-top: 30px;">
        <center>
            <p>VACUNASSIST</p>
        </center>
    </div>
</footer>