{% extends "bootstrap/base.html" %}

{% block title %}
VACUNASSIST
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="shortcut icon" href="../static/image/logo.png">
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:#ffffff">
        <img style="margin-left: 0px;" class="imagen" width="60" heigth="100" src="../static/image/logo.png">
      </a>
      {% if session["tipo"] == 1 %}
      ADMIN
      {% endif %}
      {% if session["dni"] != None %}
      {% if session["tipo"] == 3 %}
      Paciente DNI {{ session["dni"] }}
      {% endif %}
      {% if session["tipo"] == 2 %}
      Enfermero DNI {{ session["dni"] }}
      {% endif %}
      {% endif %}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if tipo == 1 %}
        <li><a href="/estadisticas" style="color:#ffffff">Estadísticas</a></li>
        <!--<li><a href="/pacientes" style="color:#ffffff">Pacientes</a></li>-->
        <li><a href="/enfermeros" style="color:#ffffff">Enfermeros</a></li>
        <li><a href="/vacunas" style="color:#ffffff">Vacunas</a></li>
        <li><a href="/laboratorios" style="color:#ffffff">Laboratorios</a></li>
        <li><a href="/turnos_notificar" style="color:#ffffff">Notificaciones</a></li>
        <li><a href="/turnos_fiebre_amarilla" style="color:#ffffff">Turnos de fiebre amarilla</a></li>
        <li><a href="/modificar_contrasena" style="color:#ffffff">Password</a></li>
        {% endif %}
        {% if tipo == 2 %}
        <li><a href="/turnos_hoy" style="color:#ffffff">Turnos de hoy</a></li>
        <li><a href="/ver_perfil" style="color:#ffffff">Perfil</a></li>
        {% endif %}
        {% if tipo == 3 %}
        
        <li><a href="/mis_turnos" style="color:#ffffff">Mis turnos</a></li>
        <li><a href="/mis_vacunas" style="color:#ffffff">Mis vacunas</a></li>
        <li><a href="/sacar_turno" style="color:#ffffff">Sacar turno</a></li>
        <li><a href="/ver_perfil" style="color:#ffffff">Perfil</a></li>
        {% endif %}
      
        <li><a href="/logout" style="color:#ffffff">Salir</a></li>
      </ul>

    </div>
  </div>
</nav>

{% endblock %}