{% include './menu.html' %}
{% block content %}

<div class="container">

  {% with msg = get_flashed_messages(with_categories=true) %}
  {% if msg %}
  {% for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert"> {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% if dos_dosis == True %}
  <h3>Usted tiene dos dósis de Covid aplicadas</h3>
  {% endif %}
  {% if cantidad_vacunas == 0 and fiebre_amarilla == True %}
  <h3>Usted se vacunó por Fiebre amarilla</h3>
  {% endif %}
  {% if cantidad_vacunas == 0 %}
  {% if fecha_primera_dosis != None %}
  <h3>Usted se registró con una dósis de covid aplicada el {{ fecha_primera_dosis }}</h3> 
  {% endif %}
  {% if ultima_gripe != None %}
  <h3>Usted se registró con una dósis de gripe aplicada el {{ ultima_gripe }}</h3> 
  {% endif %}
  {% endif %}
  {% if cantidad_vacunas != 0 %}
  {% if fecha_primera_dosis != None %}
  <h4>Su primera dósis de covid fue aplicada el {{ fecha_primera_dosis }}</h4> 
  {% endif %}
  <div style="margin-top: 10px;">
    <h2>Vacunas aplicadas en el vacunatorio</h2>
  </div>
  <div class="table-responsive" style="margin-top: 10px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha de aplicación</th>
          <th>Sede</th>
          <th>Vacuna</th>
        </tr>
      </thead>
      <tbody>
        {% for v in vacunas %}
        <tr>
          <td>{{ v.fecha_turno }}</td>
          <td>{{ v.sede }}</td>
          <td>{{ v.vacuna }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/" class="btn btn-primary">Volver</a>
  </div>
  {% else %}
  <h3>No tiene vacunas aplicadas en el vacunatorio</h3>
  {% endif %}

</div><!-- /.container -->

</div>

{% endblock %}