{% include './menu.html' %} {% block content %}

<div class="container">
  {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
  for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %} {% endif %} {% endwith %}

  {% if tipo != 1 %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre: {{user.nombre}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Apellido: {{user.apellido}}</li>
    <li class="list-group-item">DNI: {{user.dni}}</li>
    <li class="list-group-item">Telefono: {{user.telefono}}</li>
    {% if tipo == 3 %}
    <li class="list-group-item">Fecha de nacimiento: {{user.nacimiento}}</li>
    <li class="list-group-item">Sede preferida: {{user.sede_preferida}}</li>
    {% else %}
    <li class="list-group-item">Sede actual: {{user.sede}}</li>
    {% endif %}
    {% if riesgo == True %}
    <li class="list-group-item"><h3>Paciente de riesgo</h3></li>
    {% endif %}
  </ul>

  <div class="col-auto">
    <a href="/edit_perfil" class="btn btn-primary">Editar perfil</a>

    <a href="/" class="btn btn-primary">Volver</a>
  </div>
  {% else %}
  <h3>Usted es edministrador del sistema</h3>
  <button
      type="button"
      class="btn btn-primary btn-lg"
      style="margin-top: 20px"
      onclick="window.location.href='/modificar_contrasena'"
    >
      Modificar Contraseña
    </button>
  {% endif %}
</div>





{% endblock %}
