{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Registro
{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="shortcut icon" href="../static/image/logo.png">
{% endblock %}

{% block content %}
<div class="container">


  {% with msg = get_flashed_messages(with_categories=true) %}
  {% if msg %}
  {% for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert"> {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form class="form-signin" method="POST" action="/registro">
    <h2 class="form-signin-heading">Formulario de registro</h2>

    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.nombre) }}
    {{ wtf.form_field(form.apellido) }}
    {{ wtf.form_field(form.dni) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.telefono) }}
    {{ wtf.form_field(form.nacimiento) }}
    <br>
    <h4>Si sólo tiene una dósis de covid, indique la fecha aproximada</h4>
    {{ wtf.form_field(form.fecha_primera_dosis) }}
    <br><h4>
    {{ wtf.form_field(form.segunda_covid) }}</h4>
    <br>
    <h4>Si se vacuno contra la gripe, indique la fecha aproximada</h4>
    {{ wtf.form_field(form.fecha_ultima_gripe) }}
    {{ wtf.form_field(form.fiebre_amarilla) }}
    {{ wtf.form_field(form.paciente_riesgo) }}
    {{ wtf.form_field(form.sede_preferida) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.password2) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>

  </form>
  <div class="form-signin">
    <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/'">Volver</button>
  </div>
</div> <!-- /container -->
{% endblock %}