{% include './menu.html' %} {% block content %}



<div class="container">
  {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %} {%
  for category,m in msg %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ m }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div style="margin-top: 10px">

    {% if session["tipo"] == 2 %}
    <h2>Turnos de hoy para la sede {{sede}}</h2>
    {% endif %}
    {% if session["tipo"] == 1 %}
    <h2>Turnos de hoy</h2>
    {% endif %}
  </div>
  <form action="/buscar_paciente_turno" method="POST">
    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" name="buscar" />
        <button type="submit" class="btn btn-primary">
          Buscar
        </button>
      </div>
    </div>
  </form>
  <br />
  <br />
  <div class="table-responsive" style="margin-top: 10px">
    {% if cantidad > 0 %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha solicitud</th>
          <th>Vacuna</th>
          <th>Estado</th>
          <th>Laboratorio</th>
          <th>Lote</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for mt in usuarios %}
        <tr>
          <form action="/marcar_vacunado" method="POST">
            <input id="idturno" name="idturno" type="hidden" value="{{ mt[1].id }}">
            <td>{{ mt[0].dni }}</td>
            <td>{{ mt[0].nombre }}</td>
            <td>{{ mt[0].apellido }}</td>
            <td>{{ mt[1].fecha_solicitud }}</td>

            {% if mt[1].vacuna == 'Covid' %}

                  {% if mt[0].fecha_primera_dosis == None and mt[1].estado == 0 %}
                  <td>Primera dósis  {{ mt[1].vacuna }}</td>
                  {% elif mt[0].fecha_primera_dosis != None and mt[0].fecha_ultima_covid == None and mt[1].estado == 0 %}
                  <td>Segunda dósis  {{ mt[1].vacuna }}</td>
                  {% elif mt[0].fecha_primera_dosis != None and mt[0].fecha_ultima_covid == None and mt[1].estado == 0 %}
                  <td>Segunda dósis  {{ mt[1].vacuna }}</td>
                  {% else %}
                  <td>Segunda dósis  {{ mt[1].vacuna }}</td>
                  {% endif %}

            {% else %}
            <td>{{ mt[1].vacuna }}</td>
            {% endif %}


            {% if mt[1].estado == 0 %}
            <td>PENDIENTE</td>
            {% endif %}
            {% if mt[1].estado == 1 %}
            <td>
              <p style="color:#126e0f" ;>CANCELADO </p>
            </td>
            {% endif %}
            {% if mt[1].estado == 2 %}
            <td>
              <p style="color:#1ca517" ;>ATENDIDO </p>
            </td>
            {% endif %}
            {% if mt[1].estado == 3 %}
            <td>
              <p style="color:#FF0000" ;><U>RECHAZADO</U> </p>
            </td>
            {% endif %}
            {% if mt[1].estado == 4 %}
            <td>
              <p style="color:#9e7b06" ;>NO CONFIRMADO</p>
            </td>
            {% endif %}
            {% if mt[1].estado == 5 %}
            <td>
              <p style="color:#FF0000" ;>AUSENTE </p>
            </td>
            {% endif %}
            {% if mt[1].vacuna == "Covid" %}
            <td>
              {% if mt[1].estado == 2 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Sinopharm' %} <option selected value="Sinopharm">Sinopharm</option>{% else
                %}
                <option value="Sinopharm">Sinopharm</option> {% endif %}
                {% if mt[1].laboratorio == 'Sputnik' %} <option selected value="Sputnik">Sputnik</option>{% else %}
                <option value="Sputnik">Sputnik</option> {% endif %}
                {% if mt[1].laboratorio == 'Astrazeneca' %} <option selected value="Astrazeneca">Sputnik</option>{% else
                %}
                <option value="Astrazeneca">Astrazeneca</option> {% endif %}
              </select>
              {% endif %}

              {% if mt[1].estado == 5 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Sinopharm' %} <option selected value="Sinopharm">Sinopharm</option>{% else
                %}
                <option value="Sinopharm">Sinopharm</option> {% endif %}
                {% if mt[1].laboratorio == 'Sputnik' %} <option selected value="Sputnik">Sputnik</option>{% else %}
                <option value="Sputnik">Sputnik</option> {% endif %}
                {% if mt[1].laboratorio == 'Astrazeneca' %} <option selected value="Astrazeneca">Sputnik</option>{% else
                %}
                <option value="Astrazeneca">Astrazeneca</option> {% endif %}
              </select>
              {% endif %}
              {% if mt[1].estado == 0 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control">
                {% if mt[1].laboratorio == 'Sinopharm' %} <option selected value="Sinopharm">Sinopharm</option>{% else
                %}
                <option value="Sinopharm">Sinopharm</option> {% endif %}
                {% if mt[1].laboratorio == 'Sputnik' %} <option selected value="Sputnik">Sputnik</option>{% else %}
                <option value="Sputnik">Sputnik</option> {% endif %}
                {% if mt[1].laboratorio == 'Astrazeneca' %} <option selected value="Astrazeneca">Sputnik</option>{% else
                %}
                <option value="Astrazeneca">Astrazeneca</option> {% endif %}
              </select>
              {% endif %}
              {% if mt[1].estado == 1 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Sinopharm' %} <option selected value="Sinopharm">Sinopharm</option>{% else
                %}
                <option value="Sinopharm">Sinopharm</option> {% endif %}
                {% if mt[1].laboratorio == 'Sputnik' %} <option selected value="Sputnik">Sputnik</option>{% else %}
                <option value="Sputnik">Sputnik</option> {% endif %}
                {% if mt[1].laboratorio == 'Astrazeneca' %} <option selected value="Astrazeneca">Sputnik</option>{% else
                %}
                <option value="Astrazeneca">Astrazeneca</option> {% endif %}
              </select>
              {% endif %}
            </td>
            {% else %}
            <td>
              {% if mt[1].estado == 2 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Bagó' %} <option selected value="Bagó">Bagó</option>{% else %}<option
                  value="Bagó">Bagó</option> {% endif %}
                {% if mt[1].laboratorio == 'Richmond' %} <option selected value="Richmond">Richmond</option>{% else %}
                <option value="Richmond">Richmond</option> {% endif %}
              </select>
              {% endif %}
              {% if mt[1].estado == 1 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Bagó' %} <option selected value="Bagó">Bagó</option>{% else %}<option
                  value="Bagó">Bagó</option> {% endif %}
                {% if mt[1].laboratorio == 'Richmond' %} <option selected value="Richmond">Richmond</option>{% else %}
                <option value="Richmond">Richmond</option> {% endif %}
              </select>
              {% endif %}
              {% if mt[1].estado == 5 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control"
                disabled>
                {% if mt[1].laboratorio == 'Bagó' %} <option selected value="Bagó">Bagó</option>{% else %}<option
                  value="Bagó">Bagó</option> {% endif %}
                {% if mt[1].laboratorio == 'Richmond' %} <option selected value="Richmond">Richmond</option>{% else %}
                <option value="Richmond">Richmond</option> {% endif %}
              </select>
              {% endif %}
              {% if mt[1].estado == 0 %}
              <select id="laboratorio" name="laboratorio" type="text" placeholder="Laboratorio" class="form-control">
                {% if mt[1].laboratorio == 'Bagó' %} <option selected value="Bagó">Bagó</option>{% else %}<option
                  value="Bagó">Bagó</option> {% endif %}
                {% if mt[1].laboratorio == 'Richmond' %} <option selected value="Richmond">Richmond</option>{% else %}
                <option value="Richmond">Richmond</option> {% endif %}
              </select>
              {% endif %}
            </td>
            {% endif %}
            <td>
              {% if mt[1].lote != "" %}
              {% if mt[1].estado == 2 %}
              <input id="lote" name="lote" placeholder="Número de lote" value="{{mt[1].lote}}" disabled>
              {% else %}
              <input id="lote" name="lote" placeholder="Número de lote" value="{{mt[1].lote}}">
              {% endif %}
              {% else %}
              {% if mt[1].estado == 5 %}
              <input id="lote" name="lote" placeholder="Número de lote" disabled>
              {% endif %}
              {% if mt[1].estado == 0 %}
              <input id="lote" name="lote" placeholder="Número de lote">
              {% endif %}
              {% if mt[1].estado == 1 %}
              <input id="lote" name="lote" placeholder="Número de lote" disabled>
              {% endif %}
              {% endif %}
            </td>
            <td>
              <a href='/ver_paciente/?idusr={{mt[1].id_usuario}}&idt={{mt[1].id}}' class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                  <path
                    d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z" />
                  <path fill-rule="evenodd"
                    d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z" />
                </svg>
              </a>
              {% if mt[1].estado == 0 %}
              <button class="btn btn-primary" type="submit">Vacunar</button>
              <button type="button" class="btn btn-primary"
                onclick="window.location.href='/marcar_ausente/{{mt[1].id}}'">
                No asistió
              </button>
              {% else %}
              <button class="btn btn-primary" disabled type="submit">vacunar</button>

              <button class="btn btn-primary" disabled>
                No asistió
              </button>
              {% endif %}

  </div>
  </td>
  </form>
  </tr>

  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <h3>Nada por ahora...</h3>
  {% endif %}
</div>
</div>
<!-- /.container -->

{% block javascripts %}
<script type="text/javascript">
  $("#submit").click(function () {
    var name = $("#name").val();
    var marks = $("#marks").val();
    var str = "You Have Entered "
      + "Name: " + name
      + " and Marks: " + marks;
    $("#modal_body").html(str);
  });
</script>
{% endblock javascripts %}
{% endblock %}