{% include './menu.html' %}
{% block content %}

<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel"><span class="accion"></span> Vacuna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>
                    ¿Esta seguro de <span class="accion"></span> a: <span style="font-weight: bolder"
                        id="usuario"></span> ?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="confirm()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="col-md-4">
    <form action="" method="POST" id="usrPageForm">
        <input id="userId" name="userId" type="hidden">
        <div style="float: right" class="row"></div>
    </form>
</div>



<div class="container">

    {% with msg = get_flashed_messages(with_categories=true) %}
    {% if msg %}
    {% for category,m in msg %}
    <div class="alert alert-{{ category }}" role="alert"> {{ m }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div style="margin-top: 10px;">
        <h2>Listado de vacunas</h2>
    </div>
    
    <div class="table-responsive" style="margin-top: 10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>

                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for vacuna in vacunas %}
                <tr>
                    <td> {{ vacuna.nombre }}</td>

                    <td>

                        <button class="btn btn-primary" onclick="window.location.href='/edit_vacuna/{{vacuna.id}}'">Laboratorios</button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary">
            <span class="svg-icon svg-icon-primary svg-icon-2x">
              <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo2/dist/../src/media/svg/icons/General/Update.svg--><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z"
                    fill="#000000" fill-rule="nonzero" />
                </g>
              </svg>
              <!--end::Svg Icon-->
            </span>
          </a>
    </div>

</div><!-- /.container -->
{% block javascripts %}
<script>
    function showMessage(accion,usuario,id) {
        $(".accion").text(accion);
        $("#usuario").text(usuario);
        $("#userId").val(id);
        $('#customModal').modal('show');
    }

    function toggleInactive() {
        $('#usrPageForm').submit();
    }

    function confirm() {
        $('#customModal').modal('hide');
        location.replace("/borra_vacuna/" + $("#userId").val());
    }


</script>
{% endblock javascripts %}
{% endblock %}

